[2020-04-17 13:50] luke-gregor opened #6 "Make code more robust with good tests"
I've written a few tests as examples. These are not robust, but they show how to implement a test.
The only requirement for a test is that they do raise an Exception.
There is some testing data in `./tests/data/`

I highly recommend doing this in VS code with the correct Python environment enabled.

[2020-04-20 13:52] isgiddy opened #7 "scion fluorescence"
**Describe the bug**
Issue with dimensions when loading fluorescence data
dimension name = scicon_wlbb2fl_wlbb2fl_data_point

**To Reproduce**

Try load the data:

names = [
    'wlbb2fl_FL2sig', # Fluorescence
 'wlbb2fl_time'
]
ds_dict = gt.load.seaglider_basestation_netCDFs(os.path.join(datadir,filenames), names, return_merged=True, keep_global_attrs=False)

4. TypeError: Argument 'arg' has inco

[2020-04-20 14:10] isgiddy opened #8 "Oxygen processing error"
**Describe the bug**
Some change in compatibility with oxygen processing and outlier_bounds_iqr
which results in an error

**Ref Outlier bounds iqr**
Signature: outlier_bounds_iqr(arr, multiplier=1.5)
Docstring:
Get the upper and lower outlier limits by interquartile range:

.. math::

    lim_{low} = Q_1 - 1.5\cdot(Q_3 - Q_1)\\
    lim_{up} = Q_3 + 1.5\cdot(Q_3 - Q_1)

the multiplier [1.5] can be

[2020-04-21 21:00] dhruvbalwada opened #10 "Variogram function inaccessible"
**Describe the bug**
Currently the variogram function is inaccessible.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A variogram object should be passed to `vargram`.

**Screenshots**
Instead the following error is obtained
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent

[2020-04-21 22:37] luke-gregor commented on #10
Have you installed `pykrige`? Adding this to the `requirements.txt` file caused the installation to fail, so I've made it an optional manual installation. If this package is available, you should be able to access the variogram function.

I think there's quite a bit of room for improvement with the variogram function. Tried to automate the x/y scaling, but it's not very transparent - makes it toug

[2020-04-21 22:48] dhruvbalwada commented on #10
Yeah, I have pykrige installed. I think the problem is because the `variogram` function inside a `try`, for some reason it is not being detected. Maybe a problem with python version?

[2020-04-22 07:31] tjryankeogh opened #11 "Optics par dark count"
Line 108 of optics.par_dark_count: function performed on par, not the par array (par_arr)

[2020-04-22 07:33] tjryankeogh opened #12 "Physics potential density"
Lat and lon in the function to calculate potential density are in the incorrect order.
Failed to calculate density when lon was above/below 90 degrees. Docstrings for GSW show they are in the incorrect order.
Docstrings also need to be updated.

[2020-04-22 07:37] luke-gregor commented on #10
🤔  I can't create the problem with my setup. And importing pykrige as standalone works fine?

[2020-04-22 08:06] luke-gregor opened #13 "quenching_correction: cannot import name 'Astral' from 'astral'"
**Describe the bug**
Raises error when trying to run quenching correction.

**To Reproduce**
Run `gt.optics.quenching_correction` in Demo_GT.ipynb
My feeling is that `astral` has been updated and Astral no longer exists. We should update GliderTools.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Mac
 - Version: `2020.3`
 - Astropy version: `2.1`

[2020-04-22 08:26] luke-gregor commented on #7
Issy! 😃 Can you give the full error please. Very hard to solve these issues without the full callback. use the 'insert code' feature to add the callback so that it is readable

[2020-04-22 08:43] #12 closed

[2020-04-22 09:03] isgiddy commented on #7
Here is the error:

`names = [
    'wlbb2fl_time',
    'wlbb2fl_FL2sig'
]

ds_dict = gt.load.seaglider_basestation_netCDFs(os.path.join(datadir,filenames), names,  return_merged=True, keep_global_attrs=False)`

`DIMENSION: wlbb2fl_data_point
{wlbb2fl_time}
100%|██████████| 487/487 [00:03<00:00, 138.49it/s]

DIMENSION: scicon_wlbb2fl_wlbb2fl_data_point
{wlbb2fl_FL2sig, wlbb2fl_time}
100%|██████████

[2020-04-22 14:29] isgiddy commented on #13
My version does not call this error, although I did pick up a different error in this code which I've fixed.
Currently have Astropy 4.0
I'll try fork and send you what I've done.

[2020-04-22 18:03] dhruvbalwada commented on #10
Yes, importing pykrige directly works. Might be a problem with my setup, I will dig into it more. Thanks for taking a look.

[2020-04-23 23:14] dhruvbalwada commented on #10
I dug into this matter a little more, because I ran into a similar problem again. This time with the function `gt.plot.section3D`. I installed GliderTools in a new environment, directly from pip this time.
I get the exact same error in this case too `AttributeError: type object 'plot_functions' has no attribute 'section3D'` .

Note that both functions `variogram` and `section3D` sit inside `if` st

[2020-05-12 07:14] tjryankeogh opened #15 "Euphotic depth returning NaN"
**Describe the bug**
In some cases when PAR measurements are low, the natural log function returns a NaN value after the NaN mask has been applied.

Suggestion to apply the NaN mask after PAR is transformed by natural log.

[2020-06-08 18:02] tjryankeogh opened #16 "Brunt-Vaisalla function not returning anything"
**Describe the bug**
When using the function it does not return an array of N2.

**Additional context**
It appears as if the pad_nan function is the issue. When using the GSW function alone it returns a N2 array.

[2020-09-21 23:19] dhruvbalwada opened #18 "Update contribution guide"
I was unable to follow the contribution guide.
- Is the bit about pre-commit from a previous version?
- where is the CHANGELOG.rst? or docs/source/contributors.rst?

[2020-09-22 00:59] dhruvbalwada opened #19 "grid_data not producing sorted dives axis"
**Describe the bug**
When I use grid_data to grid data onto a uniform pressure axis, I am sometimes get a dives coordinate that is not properly sorted.

**To Reproduce**
When I run `temp_grided_659 = gt.grid_data(ds_659.dives, ds_659.pressure, ds_659.temperature)`
I get a dives axis that looks like :
![Screen Shot 2020-09-21 at 5 58 26 PM](https://user-images.githubusercontent.com/18236610/9383545

[2020-09-22 13:54] luke-gregor commented on #18
Hi @dhruvbalwada ,

Thanks for picking up on this. I've changed the contributors and changelog now lives in `docs/history.md`. I have to update the HOWTOCONTRIBUTE.md for the history changes. But just follow the examples in that document.

Re pre-commit, can you be a bit more specific?

[2020-09-22 13:56] luke-gregor commented on #19
Hi @dhruvbalwada,
Would you be happy giving this a go?
I don't have time to work on all the issues anymore :-(  as I'm no longer working with glider data.

[2020-09-22 13:58] luke-gregor commented on #16
Yo @tjryankeogh !
I don't think I'll be getting around to these issues, just too far from what I'm doing at the moment. Do you think you'll be able to give it a shot?

[2020-09-22 14:00] luke-gregor commented on #10
@dhruvbalwada, did you ever manage to figure this problem out?

[2020-09-22 14:02] luke-gregor commented on #8
@isgiddy,
Have you managed to look into this any more? And do you think you'll be able to tackle this?

[2020-09-22 14:03] luke-gregor commented on #18
Solved with PR #26

[2020-09-22 14:03] #18 closed

[2020-09-22 14:07] luke-gregor commented on #7
@isgiddy Do you think there would be a way of implementing your solution in the code? Or would it be better to add this as an example in the documentation?

[2020-09-22 16:37] isgiddy commented on #8
@luke-gregor I have used the fixed version I worked on. I'll send you a pull request.

[2020-09-22 18:45] dhruvbalwada commented on #10
No, I did not manage to get this sorted out. I even recently updated my conda environment to the latest versions of all packages.

[2020-09-22 22:25] #10 closed

[2020-09-23 20:04] dhruvbalwada opened #29 "What temperature do gliders measure?"
When looking at the code for calculating potential density, it seems like there is call to estimate insitu_temp from conservative temperature:
https://github.com/GliderToolsCommunity/GliderTools/blob/1ef595e03e9a25d6d58f9a2bf3be5d10f0c586c5/glidertools/physics.py#L137

What temperature does the glider measure? I had always thought that glider measured insitu temperature, but am I mistaken?

[2020-09-28 18:13] dhruvbalwada opened #30 "Point to profile data"
**Is your feature request related to a problem? Please describe.**
It would be great to able to convert the data from point to profile type. Currently, the data is saved as a long series of variables. It is quite natural instead to sometimes refer to data in terms of dive numbers.
This can also help resolve the issue that we currently always look at the down casts in order of increasing Z and upca

[2020-10-11 09:03] #19 closed

[2020-10-11 10:39] #29 closed

[2020-10-11 10:41] luke-gregor commented on #13
Thanks @isgiddy, I've accepted your changes. I've also added a test for this. I noticed that it fails if the latitude is high and there is no sunset/sunrise. I will create a new issue for that.

[2020-10-11 10:41] #13 closed

[2020-10-11 10:47] lukegre opened #37 "`gt.optics.sunrise_sunset` fails at high lats"
**Describe the bug**
At high latitudes during times when the sun does not rise or set, the function fails.

**To Reproduce**

[code]

**Expected behavior**
If it is light all the time, then return sunrise as 00:00 and sunset as 23:59
Similarly, if it is dark, sunrise would be at 11:59 and sunset at 12:00

[2020-10-11 11:38] luke-gregor commented on #30
Potential hack solution to create a dictionary using groupby on the dives. Might be slow though. Also, does not provide one with any functions that can be applied to each dive

[code]

[2021-01-15 01:13] robfatland opened #38 "setup.py pins dependency on netcdf4 1.5.4"
**Describe the bug**
`import glidertools` produces an error to the effect of `you have netcdf4 1.5.5.1 and you need to use 1.5.4`.

**To Reproduce**
I'm on an Ubuntu system, using a conda environment built from a `.yml` file. I installed `glidertools` using `pip` as instructed. Working in a Jupyter notebook I get the version issue as above.

**Attempt to Remedy**
I added `    - netcdf4=1.5.4` to m

[2021-03-01 23:22] jbusecke opened #41 "Docs are not building?"
It seems that Readthedocs has [not built](https://readthedocs.org/projects/glidertools/builds/) for recent PRs (e.g. #40).

I would also suggest activating the [Pull Request Build Feature](https://docs.readthedocs.io/en/stable/pull-requests.html).
Happy to help where I can.

@luke-gregor Could you check if there is a way to reconnect the repo to Readthedocs?

cc @soerenthomsen

[2021-03-02 19:43] soerenthomsen commented on #41
Glad to support this!

[2021-03-03 09:38] luke-gregor commented on #41
Thanks for pointing this out. I've enabled the [Pull Request Build Feature](https://docs.readthedocs.io/en/stable/pull-requests.html). Should automatically build from now on. Docs are also passing 😅

Let me know if it's not working

[2021-03-03 09:38] #41 closed

[2021-03-03 13:55] jbusecke commented on #41
Thanks a lot @luke-gregor

[2021-03-17 16:26] callumrollo opened #45 "Creat a conda-forge recipe"
Would increase the accessibility of the tool. In my experience, many more scientists use conda than pip

I have made one much simpler conda-forge recipe before. @jbusecke might be able to help

[2021-03-17 17:11] jbusecke opened #46 "OceanGliders.org/GliderTools Meeting Summary"
Thanks @soerenthomsen for bringing everyone together!

This is my attempt to summarise the content of the meeting on 2021/3/17 about future development on GliderTools.

## Wishlist

We decided to split tasks/wishes up in three general categories:

1) Preprocessing: Stuff that has to do with different file formats and potentially platform specific steps
2) Core code and methods: Adding new features

[2021-03-17 17:16] jbusecke commented on #46
To discuss if things should be combined/edited above, please use markdown quotes on the items from the original post.

For example, write
[code]

gives:

I ❤️ that idea and would love to implement it.

[2021-03-17 17:22] dhruvbalwada commented on #6
@jbusecke is there some good documentation online that one can read about how to make tests for packages like GT? or do you think it makes sense to give a simple example about how to make a test that can be added to the https://glidertools.readthedocs.io/en/latest/contributing.html ?

[2021-03-17 17:28] jbusecke commented on #45
I would like to have more than one recipe maintainer. @callumrollo @dhruvbalwada @lukegre, would you be willing to help out here? This should be minimal work. Usually its just merging a PR once a new version is published.

[2021-03-17 17:37] callumrollo commented on #45
@jbusecke I'm happy to be a maintainer

[2021-03-17 17:42] callumrollo commented on #46
Thanks for organising this @jbusecke

I am happy to take on this item. Quick, easy notebooks demonstrating core functionality are the first thing I look for in a GitHub project (I'm too lazy to read the documentation). The current notebook is a bit of a monster!

[2021-03-17 17:47] callumrollo opened #48 "Add short example notebooks"
**Rationale**
The only current notebook is huge and overwhelming. A set of small notebooks for specific, common tasks would be much more appealing to the casually interested scientist

**How the user would call this functionality.**
Ideally by clicking a button in the README that launches a Binder notebook e.g. "Intro to glider tools" or "correct for chlorophyll quenching"

**Outline what is neede

[2021-03-17 17:57] jbusecke commented on #45
Amazing. Thanks @callumrollo.

[2021-03-17 17:58] soerenthomsen commented on #46
Thanks @jbusecke! Could you edit the document above at add @isgiddy (IG) and @callumrollo (CR). Is Sarah Nicholson already already on GitHub?

[2021-03-17 18:08] jbusecke commented on #6
This is really one of the hardest topics to give "general" advice on. I have some starting tips in my [cookie-cutter template repo](https://github.com/jbusecke/cookiecutter-science-project).

For this sort of project I would strongly recommend working with a combination of synthetic data and some simple real world datasets. Set up some simple data and check that the function you are testing has th

[2021-03-17 18:16] lukegre opened #49 "Load OceanGliders Format"
### Rationale
OceanGliders community is moving toward the uniform OG format. Having a function to load this data would be central to the usability of GT. Link to the documentation for this format will be posted when this is finalised.

### How the user would call this functionality.
Would conform to the current API where a module for loading.
[code]

### Outline what is needed for this feature
An

[2021-03-17 18:25] jbusecke commented on #45
I have started https://github.com/conda-forge/staged-recipes/pull/14282.
For anyone curious, I have a short write up of the procedure [here](https://github.com/jbusecke/guides/blob/master/publishing.md)

[2021-03-17 18:26] lukegre opened #50 "Conversion from existing file formats to OceanGliders file format"
**Rationale**
New file standard will be introduced (OceanGliders), but there's a gap for people to convert their data from proprietary "base station" outputs to the OceanGliders format. GliderTools may be in a position to fill this gap

**How would the user call the function**
[code]

**What we need to do this**
- Documentation of the minimum requirements for OceanGliders format.
- Existing load m

[2021-03-17 20:52] jbusecke commented on #6
Ill add some tips to the docs, because this will be the first thing that presents a friction point.

[2021-03-17 21:08] jbusecke opened #52 "Test coverage"
[codecov.io](https://codecov.io/gh) makes it quite easy to see which sections of the code still need coverage. This PR adds codecov as part of the CI.

[2021-03-17 21:08] #52 closed

[2021-03-17 21:16] jbusecke commented on #6
#53 Will help with browsing the coverage of the code.

[2021-03-17 21:17] jbusecke commented on #46
@dhruvbalwada I haven't used that feature at all. What is the difference/advantage of doing that?

[2021-03-17 21:27] dhruvbalwada commented on #46
Basically github has incorporated discourse like forum into itself. So non-issue discussions can live there.

[2021-03-17 21:48] jbusecke commented on #46
Ah cool. I'd suggest we keep this one here, but I'll def start future discussions over there?

[2021-03-17 22:12] soerenthomsen commented on #49
@vturpin can you provide an up to date example file format?

[2021-03-17 22:14] soerenthomsen commented on #50
@vturpin can you provide the most recent documentation of the minimum requirements for the OceanGliders format?

[2021-03-17 22:16] soerenthomsen commented on #49
I suggest to name the function gt.load.oceangliders_netcdf(path_to_file) i.e. with an "s"

[2021-03-17 22:25] soerenthomsen commented on #48
My suggestion is to make an example related to the optics / chlorophyll quenching part which seem to be well developed.

[2021-03-18 10:25] soerenthomsen commented on #46
I will invite a few more glider folks here:
@AnthonyBosse you might want to have a look what is going on here :)

[2021-03-19 14:42] jbusecke opened #57 "We should upgrade `pillow`"
I just got a [security warning](https://github.com/GliderToolsCommunity/GliderTools/security/dependabot/Pipfile.lock/Pillow/open) that we should upgrade `pillow`. Just wanted to ping this here.

[2021-03-19 15:42] jbusecke commented on #57
Closed via #58

[2021-03-19 15:42] #57 closed

[2021-03-24 14:12] jbusecke commented on #6
Ok I have setup a rudimentary report to codecov. We can now see the code coverage (the lines that are actually run during testing) in a nice visualization https://codecov.io/gh/GliderToolsCommunity/GliderTools/tree/86f02bcd17764b2ad816a8a8ea4b331e2d428682/glidertools.

This will be generated automatically for each PR going forward. We need to do 2 things:
1. Exclude the files that should not be te

[2021-03-24 14:22] jbusecke commented on #6
I started 1. in #63

[2021-03-29 09:25] soerenthomsen opened #70 "Python Version 3.6+ (in docs) vs. 3.7 GitHub"
I am still to insecure to make pull requests directly thus this issue:

In the docs it it written:
Glider tools is a Python **3.6+** package designed ...
https://glidertools.readthedocs.io/en/latest/

And on GitHub in the  README.rst
Glider tools is a Python **3.7** package designed ...

This confused me and I guess it has to be the same or?

@lukegre @jbusecke @dhruvbalwada

[2021-03-29 09:35] lukegre commented on #70
I've added Python 3.6, 3.7 and 3.8 to the testing so that the GT is truly a 3.6+ package.

That being said, you make a good point. The README is severely outdated. So, something to add to the list 😄

[2021-03-29 09:37] soerenthomsen commented on #70
Ok great. Thanks for explaining! @lukegre

[2021-03-29 17:13] #70 closed

[2021-03-29 17:28] soerenthomsen commented on #46
I started a discussion point here:
https://github.com/GliderToolsCommunity/GliderTools/discussions/74

Julius can you add #74 this above?

[2021-03-29 20:39] jbusecke commented on #70
I would not necessarily mention this specifically in the docs, since we might change that in the future. This should live in the packaging info IMO.

[2021-03-29 20:57] jbusecke opened #75 "Docs: "What is new" page + PR templates"
To make contributions more visible and keep a timeline of things fixed/implemented, many projects keep a `whats new` doc page (here is the [xgcm](https://xgcm.readthedocs.io/en/latest/whats-new.html) one for example).

I think this would be a nice addition, especially when we expect many upcoming contributions.

In the same line of thinking, I found that templates (with a checklist) work well to k

[2021-03-29 20:58] jbusecke commented on #46
Done

[2021-03-30 15:58] jbusecke opened #87 "Problems with Pypi authentication"
The new deployment action has problems [authenticating with pypi](https://github.com/GliderToolsCommunity/GliderTools/runs/2229248583?check_suite_focus=true#step:5:273).

@lukegre Could you check/update the repo secrets. In the long term it might be more efficient if could you add me as a maintainer on the pypi side (username: jbusecke)?

Thanks.

[2021-03-30 16:04] lukegre commented on #87
@jbusecke added you as an owner to PyPI.

[2021-03-30 16:08] #87 closed

[2021-03-30 17:17] jbusecke commented on #75
Closed via #83

[2021-03-30 17:17] #75 closed

[2021-03-30 17:22] jbusecke opened #92 "Is git lfs still in use?"
I have been banging my head against the wall, why the automatic [deployment workflow](https://github.com/GliderToolsCommunity/GliderTools/actions/runs/702241994) keeps producing a dirty version number [e.g. here](https://github.com/GliderToolsCommunity/GliderTools/runs/2229943052?check_suite_focus=true#step:7:266).

It seems that the file [`notebook/Demo_GT.ipynb`](https://github.com/GliderToolsCo

[2021-03-30 17:27] lukegre commented on #92
Nope, we're not using it. Feel free to remove `.gitattributes`

Had hopes to remove the big notebook file from the repo - will be addressed with the binder examples 👍

[2021-03-30 17:30] jbusecke commented on #92
That did the trick!

[2021-03-30 17:30] #92 closed

[2021-03-30 18:48] jbusecke commented on #45
Ok that was quite a bit of work, but the recipe is building over at https://github.com/conda-forge/staged-recipes/pull/14282.

Waiting for them to merge and then we have a conda-forge package!

[2021-03-31 01:23] jbusecke commented on #45
Thats it! You can now use conda to install glidertools.

[2021-03-31 02:01] Thomas-Moore-Creative commented on #45
@jbusecke strikes again for maximum community goodness!

[2021-03-31 08:28] callumrollo opened #95 "Switch from seawater to gsw"
Is there a reason GliderTools still uses the `seawater` toolbox? I believe this is deprecated in favour of `gsw`

There are switch statements in the toolbox functions to use `gsw` if available. The explanation in physics.py appears to be that, unlike `seawater`, `gsw` is not available in Python 2.x. However, glider tools requires Python >= 3.7 so I don't see what value `seawater` adds.

Note: Fili

[2021-03-31 12:12] soerenthomsen commented on #48
Great looking forward to these example notebooks! Will you focus on the optics part of GliderTools? It is very advanced! @tjryankeogh

[2021-03-31 17:58] #45 closed

[2021-03-31 17:59] dhruvbalwada commented on #95
I agree that we can move over, and remove support for `seawater`. I have only ever used `gsw` with GT.

[2021-04-01 12:48] callumrollo opened #98 "Create requirements files"
Is there a reason these don't exist? There's a list of requirements in `setup.cfg` but this does not include all the packages we need, e.g **pandas** is imported in physics/mixed_layer_depth but does not appear in the list

[2021-04-01 14:51] jbusecke commented on #98
Thanks for bringing this up.

I think (but might be wrong) that we don't explicitly need this. I personally do not like to have dependencies in many different files, as they tend to get out of sync. The new CI implemented in #54 relies on the conda environment files in `ci/...`, so pandas should be added there.

More generally, this really highlights the urgent need for some basic testing!
Basical

[2021-04-01 14:57] callumrollo commented on #98
Yeah we should at the very least be running every function on some synthetic data, just to trigger environment errors. Maybe we could use the sample data in tests/data? I expect we could make a solid start by just copying from the demo notebook

[2021-04-01 15:32] callumrollo opened #101 "Tests for every function"
We are experiencing problems in other Issues that stem from a lack of tests.

I am by no means an expert on tests, but I propose a good starting point would be to write at least one test per function in the codebase. I have started doing this for the `physics` module.

If you have some testing experience, please chime in if this could be done more elegantly!

[2021-04-01 15:33] jbusecke commented on #101
Just did that in #102, but its a band aid at most...

[2021-04-01 15:37] jbusecke commented on #98
I did something even more basic. I just import all function in each module and run some dummy test in #102. That should at least expose dependency problems. After that is merged any kind of 'actual' test coverage would be good.

[2021-04-01 15:38] jbusecke commented on #98
I also homogenized the requirements in `setup.cfg`.

[2021-04-01 15:39] jbusecke commented on #101
Also is this perhaps a duplicate of #6?

[2021-04-01 15:45] callumrollo commented on #101
Good point, better to keep things focused in #6

[2021-04-01 15:45] #101 closed

[2021-04-01 15:56] #98 closed

[2021-04-07 12:35] #16 closed

[2021-04-08 05:24] dhruvbalwada opened #108 "Confused with git and pushing, maybe contributing guide needs some change?"
I have managed to confuse myself with git (yet again). Here is the problem:
a) I have a fork (https://github.com/dhruvbalwada/GliderTools) which hadn't had any contact with https://github.com/GliderToolsCommunity/GliderTools in a while. So to get the latest stuff, I did a pull request from the main GT to my fork (not sure if this was the best way to do this).
b) Now I have a fork that is 1 commit

[2021-04-08 05:45] #108 closed

[2021-04-08 16:00] dhruvbalwada commented on #108
I realized that all this was happening because I had a clone of this main repository on computer, and I was trying to mess around in there instead of in the clone of my forked repo. *face palm!*

[2021-04-09 08:45] soerenthomsen commented on #108
Actually, I think I had the same issue once and @jbusecke had to help me out of this. So better we make sure the contribution guide is clear to avoid this for others.

[2021-04-09 16:08] jbusecke commented on #108
Do you think that this is figured out now? Basically you want to think of your personal fork (`origin`) just a conduit/connection to the original repo (`upstream`). I would not recommend to use your fork for anything else than testing/active development. Each time you want to make some changes you should:
1. Sync your local clone of the forked repo ('origin') with the central repo (`upstream`).
2.

[2021-04-09 18:09] callumrollo opened #112 "calc_oxygen is super broken"
**Describe the bug**
calc_oxygen throws the following error:

ValueError: too many values to unpack (expected 2)

This is an issue with calc_oxygen or outlier_bounds_qr. The latter returns a single masked array while the former expects two objects. I assume the behaviour of one of them changed at some point in the past

**To Reproduce**
calc_oxygen(oxygen, pressure, salinity, temperature)

**Expec

[2021-04-09 18:11] callumrollo commented on #112
Further work:

I had a poke at where outlier_bounds_iqr is called. It looks to me like, inplace of the current

`ll, ul = outlier_bounds_iqr(Y, multiplier=1.5)`

We should have
[code]

calc_oxygen then runs as expected.

[2021-04-09 18:12] callumrollo commented on #112
This issue blocks further progress on #95

[2021-04-09 18:20] callumrollo commented on #112
Despite three values being returned by calc_oxygen purporting to be oxygen concentration in mL/L, theoretical oxygen saturation percentage and apparent oxygen utilisation, all three are the same array.

The netcdf attributes are filled out, but the value for all three of these is the variable o2mll. How on earth did this get into production?

[2021-04-09 18:24] callumrollo commented on #112
The variables o2aou and o2pct = are created lines 255-256 but never used

[2021-04-09 18:27] jbusecke commented on #112
😱

[2021-04-09 18:27] callumrollo commented on #112
Looked through the history, this has been b0rked since first committed last April. Oh dear

[2021-04-09 18:29] callumrollo commented on #112
I'm gonna put a pin in further oxygen related improvements til we can sort this out. May be safer to start from scratch. Good luck @soerenthomsen!

[2021-04-09 18:31] jbusecke commented on #112
I think that is reasonable @callumrollo. If there is momentum around a substantial refactor of the module, we should maybe just put a note in the README?

Any further development should start from the tests to avoid this scenario in the future @soerenthomsen.

[2021-04-09 18:34] isgiddy commented on #112
I edited this code to make it function for my work a few months ago (but never pushed to the repository). But I think if there is a refactor going to happen, might as well just leave it?

[2021-04-09 18:44] jbusecke commented on #38
I belive this was closed via #54. Closing

[2021-04-09 18:44] #38 closed

[2021-04-09 18:46] jbusecke commented on #112
@isgiddy Perhaps you can share your code over at https://github.com/GliderToolsCommunity/GliderTools/discussions/74?

Just so any potential duplication of efforts is prevented?

[2021-04-23 14:18] #11 closed

[2021-04-23 14:39] jbusecke commented on #11
Was this closed by a specific pull request?

[2021-04-23 14:43] isgiddy commented on #11
Yes - I addressed it together with #110

[2021-04-23 17:54] callumrollo opened #115 "Plot shading flat is deprecated"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. gt.plot(x, y, grid)
Where grid is a 2D array with dimensions x and y

**Expected behavior**
Not to cause a warning. Note that this warning will graduate to an error soon!

**Screenshots**
![image](https://user-images.githubusercontent.com/28703282/115910681-0657c680-a465-1

[2021-04-23 18:24] bastienqueste commented on #115
Note that using shading='auto' sometimes fails in the current release when other options affecting axis are passed to the function (eg. log scale axis). I'd recommend explicitly defining 'nearest' for a typical pcolor behaviour, or 'gouraud' for aesthetics, rather than relying on the rather vague 'auto'.

[2021-04-23 18:25] jbusecke commented on #115
From reading this https://github.com/matplotlib/matplotlib/pull/16258, it seems like @dhruvbalwada s suggestion to set shading to `auto` is the right call. (or `nearest` if we know that our input data will always be the same shape as coordinates. Do we thought?)

I think inserting `kwargs.setdefault('shading', 'auto)` [here](https://github.com/GliderToolsCommunity/GliderTools/blob/01092e381983b536

[2021-04-23 18:27] jbusecke commented on #115
Side note, we could also absorb the `rasterized=True` argument from below in this manner. The advantage of doing it this way is that the user could manually override this.

Currently `gt.plot(x, y, grid, rasterize=False)` should produce an error.

[2021-04-23 18:28] dhruvbalwada commented on #115
Since this plotting function is used during QC, I wonder if `garaud` would create problems there? Maybe someone having done more QC would know.

Also this function grids the data in depth/pressure before plotting it, so I doubt there would ever be a situation where the input data will not the be same shape - the input data to the plotting function is being created inside the call.

[2021-04-23 18:32] bastienqueste commented on #115
Then suggest slight alteration of @jbusecke's suggestion of "inserting `kwargs.setdefault('shading', 'nearest')` [here](https://github.com/GliderToolsCommunity/GliderTools/blob/01092e381983b5360a7bb7ee399927deedad5657/glidertools/plot.py#L136) should do the trick."

[2021-04-23 18:38] jbusecke commented on #115
Who wants to do the PR then, hehe.

[2021-04-23 18:39] dhruvbalwada commented on #115
I'll do this in a bit.

[2021-04-25 18:40] dhruvbalwada opened #117 "Should the test env have a jupyter lab?"
Should the test env that is created from one of the environment files in `ci` have jupyter lab as a default package?

I am wondering how others about doing any dev after setting up the test env in the step 4 or 5 in the contributing guide? Do you do it in .py scripts?

[2021-04-27 15:24] jbusecke commented on #117
It would definitely bloat the dependecies and thus probably slow down the CI (where it is not needed). I personally usually use one 'main' env that contains jupyterlab and then add `ipykernel` to all specific envs (more details [here](https://github.com/jbusecke/guides/blob/master/advanced_env_management.md)).
I think for the sake of simplicity it might be good to add a line on how to install jupy

[2021-04-27 16:26] #115 closed

[2021-04-29 17:24] dhruvbalwada commented on #117
Thanks. Yeah adding a line on how to do this to contribution guide will help

[2021-05-05 15:46] callumrollo commented on #48
I have created a repo for the notebooks here:
https://github.com/callumrollo/glidertools-demo
Closing this Issue

[2021-05-05 15:46] #48 closed

[2021-05-05 16:57] jbusecke commented on #48
Awesome! Should we add a link to the binder/repo to the README and/or docs?

[2021-05-05 17:12] dhruvbalwada commented on #48
I think that would be nice. If @callumrollo is interested maybe the demo repo can live in the community (https://github.com/GliderToolsCommunity) but as a separate object from the Glidertools.

[2021-05-05 17:19] jbusecke commented on #48
Thats a great idea!

[2021-05-06 08:54] callumrollo commented on #48
Good shout Dhruv, I've just transferred it

[2021-05-17 15:37] lukegre commented on #112
Just read through this thread 🤦🏻‍♂️ my bad. Glad you guys are on board now 😄

But to answer this question...

![](https://bluecanvas.io/images/git-memes/git-push-origin-master-f.jpg)

[2021-05-21 07:24] isgiddy opened #126 "Change the way warnings are raised"
Warnings are currently raised as `raise UserWarning("warning")`, this method is incompatible with pytest to assert warnings which looks something like this.
[code]
 For the above test to work, the warning needs to output a class UserWarning.
Suggest that warnings should rather be raised using `warnings.warn("warning", UserWarning)`

[2021-05-21 22:28] jbusecke commented on #126
Good idea. Would you be up to submitting a PR, @isgiddy?

Just our of curiosity though, I would like if there was a reason to implement warnings this way (cc @lukegre)?

[2021-05-24 15:27] callumrollo opened #127 "Add links to related tools"
From the OceanGliders best practices discussion. We could link to useful tools for e.g. converting nasty glider manufacturer data to more usable formats.

@jbusecke suggests we add a ‘related’/‘compatible’ package section to the documentation

[2021-05-24 15:28] callumrollo commented on #127
e.g. this Python package to import Slocum tabular ascii data files by John Kerfoot https://github.com/kerfoot/gdm

[2021-05-24 15:36] dhruvbalwada commented on #127
Here is a list for Argo data: https://github.com/euroargodev/argopy/issues/3 , maybe there will be some overlap

[2021-05-24 18:10] jbusecke opened #129 "Dataset requirements to enhance interoperability with other packages"
During today's meeting, we discussed the vision for glidertools, and one aspect seemed to already crystalize: **We do not want to attempt to build a "do it all" package**.

Instead, I think glidertools should emphasize modularity and interoperability with other packages.

As pointed out during the discussion and [here](https://github.com/GliderToolsCommunity/GliderTools/discussions/107#discussionc

[2021-05-24 18:13] jbusecke commented on #129
Also it might be very useful to add your packages or ones you would like to work with glidertools into #127

[2021-05-24 20:30] soerenthomsen commented on #127
There is https://dbdreader.readthedocs.io / https://github.com/smerckel/dbdreader by @smerckel

[2021-06-25 17:47] dhruvbalwada opened #130 "QC wrapper function defaults"
The wrapper functions for physics QC are described here: https://glidertools.readthedocs.io/en/latest/quality_control.html#wrapper-functions and done using https://glidertools.readthedocs.io/en/latest/_generated/glidertools.processing.calc_physics.html#glidertools.processing.calc_physics

This is great for doing a number of things at once. However, as it is currently setup the user does not have a

[2021-06-29 21:37] dhruvbalwada opened #131 "Edit on github button not working in the API section"
The "edit on github" button/link on the top right of the page does not seem to be working when I am looking at the individual functions in the API page (eg https://glidertools.readthedocs.io/en/latest/_generated/glidertools.mapping.grid_data.html#glidertools.mapping.grid_data).

When I click on it I get redirected to pages like (for example): https://github.com/GliderToolsCommunity/GliderTools/blo

[2021-06-30 13:54] jbusecke commented on #131
I believe this is an autogenerated page, and as such does not exist in the repo. What do you want to change?

[2021-06-30 14:46] dhruvbalwada commented on #131
I see. I did not realize that the "edit on github" links were not meant to work on the API pages. I assumed maybe it was a structuring problem. That's ok. We can close this.

[2021-06-30 14:46] #131 closed

[2021-06-30 16:45] jbusecke commented on #131
But this must have been prompted by an issue with the page? Or are you just clicking random buttons for fun 😆

[2021-06-30 16:54] dhruvbalwada commented on #131
I was on the grid_data API page, and wanted to go look at the underlying code on the repo. So was hoping that the button would take me there, but I guess not.

[2021-07-01 09:35] sarahnicholson opened #132 "utils function calc_dive_number"
Hi,

Im encountering an issue with the utils.calc_dive_number that I need some help with and im not quite yet confident enough to report it as a bug? I am currently loading in raw sbd data from a slocum platform via dbdreader and i'm using the glidertools function gt.utils.calc_dive_number. The resulting plot of dive, depth, temp has all of the down dives plotted first and then all of the updives

[2021-07-01 11:09] lukegre commented on #132
This might need a platform specific approach that makes use of glider engineering data. I remember this being a bit hacky when I put it together. I struggled having a unified approach for both Slocum and SeaGlider.

[2021-07-02 08:56] isgiddy commented on #37
This issue has been resolved along with the switch from astral to skyfield (Pull Request #121  )

[2021-07-02 08:56] #37 closed

[2021-07-08 09:51] callumrollo commented on #127
**shameless plug** I'm working on [gliderpy](https://github.com/ioos/gliderpy), an ERDDAP data fetcher for glider data. I would love to be able to pipe the output from that straight into GliderTools

[2021-07-08 09:59] callumrollo opened #133 "gt.load.seaglider_show_variables doesn't work from command line"
gt.load.seaglider_show_variables uses pandas dataframe .style to make a pretty return. This will not work if run from plain python/command line application

**To Reproduce**
1. Start a Python session from the command line and load glidertools `import glidertools as gt`
2. Get some Seaglider .nc files and point at them `filenames = 'data_marina/p*.nc'`
3. `gt.load.seaglider_show_variables(filenames

[2021-07-21 13:26] abhisekocean opened #135 "Error with the test data set"
HI,

I am new to the glidertool and processing of glider data. Recently we have started a project with SLOCUM G3 gliders and wanted to explore this tool for higher-level processing.

So, I installed this tool using conda and downloaded the test/data directory from the Github. While running the test case as suggested in "https://glidertools.readthedocs.io/", I have now encountered an error as given

[2021-07-21 15:46] dhruvbalwada commented on #135
Glad you found this package.

Could you please give some more details about your problem (e.g. as suggested as here: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

At the very least tell us what the variables you are passing to the function contain? Are you running the code from the example?

Have you looked at the demos here: https://github.com/GliderToolsCommunity/gliderto

[2021-07-21 16:58] abhisekocean commented on #135
Dear @dhruvbalwada

Thanks for your quick response.

I am following the steps given in
https://glidertools.readthedocs.io/en/latest/loading.html

I found that the demo directory referred are the same steps given in the above link. Anyways downloaded the demo directory and tried to execute the "Importing glider data.ipynb". But, getting the same error. Not sure if this is a problem with the install

[2021-07-22 15:15] jbusecke commented on #135
Hi @abhisekocean, I think this is in fact not a user error on your side. Our [CI](https://github.com/GliderToolsCommunity/GliderTools/runs/3104368778?check_suite_focus=true) is failing with a similar error.

Let me try to figure out what is going on here.

[2021-07-22 15:18] jbusecke commented on #135
This behavior might have been caused by a new pandas version. Previous runs using pandas [1.2.5](https://github.com/GliderToolsCommunity/GliderTools/runs/2970692431?check_suite_focus=true#step:5:112) succeeded. Can you confirm your version of pandas installed? If you have `>1.2.5`, can you downgrade and see if the error resolves itself?

[2021-07-22 16:55] abhisekocean commented on #135
Dear @jbusecke

Thanks for the suggestion.

I could now run the test code successfully (tested till plotting the "original data") after downgrading the pandas version to 1.2.5. Earlier I was using version 1.3.0 which resulted in that error.

Thank you very much

[2021-07-22 16:55] #135 closed

[2021-07-22 17:26] jbusecke opened #136 "Pandas >=1.3.0 breaks the code"
**Describe the bug**
Our [CI](https://github.com/GliderToolsCommunity/GliderTools/actions/workflows/ci.yml) is currently broken.

#135 seems to confirm that this is caused by recent changes in pandas.

As a short term fix we could pin a version <1.3.0 for the CI and in our packaging. But in the long term, we should make sure that our code is compatible with the newest pandas version.

[2021-07-29 17:37] tomhull commented on #112
Hey, so I'm finally finding some time to have a closer look at the oxygen processing building on what Callum has done and I'll hopefully code up the oxygen lag correction algorithms with the various optode quirks.

Few questions and comments about the code as it is.
Why are we using mL/L? it's not the unit the sensors report (umol / L) or what's recommended by the oxygen SCOR working group. http:/

[2021-07-29 17:39] tomhull commented on #112
actually, also is there any problem with spitting oxygen into a separate file?

[2021-07-29 19:07] jbusecke commented on #112
I dont see one from an organization standpoint. Do you want to start a new module and we deprecate the existing functionality once that is in good shape?

[2021-07-30 09:17] callumrollo commented on #112
Thanks for picking this up Tom, It's past my rudimentary oxygen expertise. If you could lose `seawater` in the new version that would be great. We could then close #99 and only depend on `gsw` for the physics stuff

[2021-08-03 13:17] soerenthomsen commented on #112
@tomhull nice that you find time to work on this issue. Let me know if there is anything I can do to support you.

[2021-09-10 09:27] soerenthomsen commented on #49
Any questions related to the OG1.0 format etc should be raised in the official OceanGlidersCommunity repo [here:](https://github.com/OceanGlidersCommunity/OG1.0-user-manual)

[2021-09-10 09:28] soerenthomsen commented on #50
Any questions related to the OG1.0 format etc should be raised in the official OceanGlidersCommunity repo [here:](https://github.com/OceanGlidersCommunity/OG1.0-user-manual)

Thanks @vturpin

[2021-11-10 09:58] soerenthomsen opened #142 "Add "Gothenburg University", OceanGliders Best Practices to readme?"
### Discussed in https://github.com/GliderToolsCommunity/GliderTools/discussions/139

<div type='discussions-op-text'>

<sup>Originally posted by **soerenthomsen** September 14, 2021</sup>
Dear GliderToolsCommunity,

in the readme file it is written at the moment that GliderTools: "We provide examples and demonstrate best practices as developed by the SOCCO Group."

I suggest to add "Gothenburg Un

[2021-11-10 17:55] callumrollo commented on #136
I'm in the process of tracking down this bug. This appears to be the guilty line:

**utils.py line 132**
`df = df.interpolate(limit=interp_lim).bfill(limit=interp_lim)`

Specifically, the df.interpolate part. I have found a [SO question](https://stackoverflow.com/questions/58843656/pandas-interpolation-valueerrorinvalid-fill-method-expecting-pad-ffill-or) that looks like the same problem. The answ

[2021-11-11 11:27] callumrollo opened #146 "Docs broken"
Docs are broken on `gt.optics.par_dark_count`

I suspect this is due to a lack of docstring for the new kwarg **depth_percentile**

[2021-11-11 11:40] callumrollo commented on #146
A more likely culprit is readthedocs itself. Looks like there is a breaking change with sphinx in readthedocs>0.18 which was recently released https://github.com/sphinx-doc/sphinx/issues/9783#issuecomment

[2021-11-12 07:24] #146 closed

[2021-11-12 08:57] soerenthomsen commented on #142
Before closing this I will also make a session to sync the docs with the GitHub readme. At the moment we have too very similar introductions here which are often not in phase and require to be updated separately...

[2021-11-18 12:33] soerenthomsen commented on #142
@callumrollo we should also mention your funding source here in acknowledgement in my view.

[2021-11-18 13:07] jbusecke opened #149 "CI fails for a different reason now!"
**Describe the bug**
The CI was previously failing with the error described in #136, but in the latest CI it fails for a different reason!
As you can see [here](https://github.com/GliderToolsCommunity/GliderTools/runs/4212126874?check_suite_focus=true) this now fails at the package installation step.

This worries me a bit, I dont understand how this could have happened when only PRs with all chec

[2021-11-18 13:14] soerenthomsen commented on #149
Yes totally fine for me. I think I can also not commit without making a pull-request and for now just made edits to the docs.

[2021-11-18 13:22] soerenthomsen commented on #149
There is one commit by @callumrollo related to white space:
https://github.com/GliderToolsCommunity/GliderTools/commit/c11c5bf58a8d2af6f53fc65936173e6de407c9b4

[2021-11-18 16:01] callumrollo commented on #142
That would be cool. I am employed by [VOTO](https://voiceoftheocean.org/en/) (Voice of the Ocean foundation). Just VOTO is fine though

[2021-11-18 16:11] soerenthomsen commented on #142
Lets do it after the CI issue is fixed.

[2022-05-09 14:42] dhruvbalwada opened #151 "Getting help"
I think the documentation needs to have a page that describes how new users seek help. The community can decide whether they should open a new issue, or ask usage questions under discussion.

[2022-05-09 17:56] mgentil17 opened #152 "Error in gt.load.seaglider_basestation_netCDFs function"
Hi,

I am new to the glidertool and python community. Sorry if this error does not require opening a new issue. Recently I have started a project with a Seaglider and wanted to explore this tool for higher-level processing.

So, I installed this tool using conda and I follow the detailed example on the following page: https://glidertools.readthedocs.io/en/latest/loading.html#working-with-seaglider

[2022-10-20 09:04] MartinMohrmann commented on #126
BTW: There is one deprecation warning raised by pytest that I did not address yet (on purpose):
[code]
However, the recommended .drop_indexes() function that should be used in future has not made it into the stable xarray releases yet I think, so this will be fixed later, when xarray has moved on with a new stable release.